<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.han.dao.UserMapper">
    <!-- 这里namespace必须是UserMapper接口的路径” -->
    <insert id="insertUser" parameterType="User">
        insert into user(user_num,user_name,user_age,user_grade,user_sex,user_money) values(#{user_num},#{user_name},#{user_age},#{user_grade},#{user_sex},#{user_money})
    </insert>
    
    <select id="getAllUser" resultType="User">
    	select * from user
    </select>

    <!-- 这里的id必须和UserMapper接口中的接口方法名相同 -->
    <select id="getUserListByPage" resultType="User">
        select * from user limit #{start},30
    </select>
    
    <delete id="delUserById" parameterType="java.lang.String">
    	delete from user where id = #{id}
    </delete>
    
    <select id="getUserCount" resultType="int">
    	select count(id) from user
    </select>
</mapper>  